.param {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.login__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem auto;
}

.form__container {
  width: 100%;
  max-width: 32rem;
}

.form__title {
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.form,
.input {
  background-color: var(--white);
  border-radius: 0.5rem;

  border: 1px solid #d9d9d9;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.form-status {
  background-color: green;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.error {
  background-color: crimson;
}

.form__div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input {
  padding: 1rem;
}

.form button {
  background-color: var(--black);
  color: var(--white);
  padding: 0.8rem;
  border-radius: 0.5rem;
}

@media (min-width: 800px) {
  .login__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }
}
