.item {
  min-width: 100px;
  max-width: 290px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  pointer-events: none;
}

.item h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: var(--main-color);
}

.item p {
  font-size: 2rem;
  font-weight: bold;
}
