.main__purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem auto;
}

.form__userInformation .form__radios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form__userInformation .form__radio {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.form input {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
}

.form__userInformation .form__names,
.form__userInformation .form__CPFecha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form__names div,
.form__CPFecha div {
  flex: 1;
}

.form .datePicker {
  display: inline-block;
  background-color: red;
}

.form__details textarea {
  resize: none;
  height: 100px;
}

.form__payment .method__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form__method {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
}

.form__method p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.method__inputs label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form .form__total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #d9d9d9;
  padding-top: 1rem;
}

.form__total .total__information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 1.3rem;
}

@media (min-width: 800px) {
  .main__purchase {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }
}
