.cart__item {
  display: grid;

  justify-items: center;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.item__title {
  color: var(--main-color);
  font-family: var(--title-font);
  text-align: center;
  margin-bottom: 0.3rem;
}

.item__details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item__img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.item__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item__quantity button img {
  width: 35px;
  height: 35px;
}

.item__total {
  font-size: 2rem;
  font-weight: bold;
}

.item__btn img {
  width: 2.5rem;
}

@media (min-width: 650px) {
  .item__title {
    font-size: 1.6rem;
  }

  .cart__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
