@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300;400;700&display=swap");
@import "./components/layout/layout.css";

:root {
  --main-color: #ff9dbfe2;
  --black: #000000;
  --white: #ffffff;
  --main-font: "itim", sans-serif;
  --title-font: "kalam", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 95%;
}

h1 {
  font-family: var(--title-font);
}

h1,
h2 {
  font-size: 2.5rem;
  color: var(--main-color);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.15);
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.8rem;
}
